.task-page-container {
	background-color: #fff;
	margin: 15px 15px 73px;
	border-radius: 5px;
	padding: 22px 28px;
	position: relative;
}

.task-page-title {
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 40px;
}

.task-page-tasks {
	margin-bottom: 35px;
}

.task-page-task {
	margin-bottom: 10px;
}

.task-page-date {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #888888;
	font-size: 14px;
}

.task-page-info {
	margin-bottom: 10px;
	font-style: italic;
	color: #888888;
}

.task-page-button {
	background-color: #0079bf;
	color: #fff;
	cursor: pointer;
	padding: 5px 20px;
	border-radius: 5px;
	margin-right: 10px;
}

@media (max-width: 830px) {
	.task-page-container {
		margin: 15px 15px 100px;
	}
}
