.header {
	background-color: #0067a3;
}

.header-body {
	height: 55px;
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-size: 28px;
	color: #fff;
}

.header-link {
	cursor: default;
}
