.footer {
	background-color: #0067a3;
	height: 55px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.footer-body {
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.tasks {
	display: flex;
	justify-content: space-between;
}

.active-tasks {
   margin: 0px 36px 0px 0px;
}

@media (max-width: 830px) {
   .footer {
      height: 85px;
   }
   .footer-body {
      flex-direction: column;
   }
   .tasks {
      margin: 0px 0px 15px 0px;
   }
   .kanban-author {
      font-size: 14px;
   }
}

@media (max-width: 350px) {
   .tasks {
      font-size: 16px;
   }
}