.user-menu {
	display: flex;
	align-items: center;
	cursor: pointer;
	position: relative;
}

.toggle-menu {
	background-color: #fff;
	width: 134px;
	border-radius: 5px;
	position: absolute;
	top: 50px;
	right: 4px;
	font-size: 14px;
}

.toggle-menu::before {
	content: '';
	width: 11px;
	height: 11px;
	transform: rotate(45deg);
	position: absolute;
	top: -6px;
	left: 89px;
	background-color: #fff;
}

.toggle-menu-list {
	text-align: center;
	position: relative;
	z-index: 1;
}

.toggle-menu-item {
	border-radius: 5px;
	padding: 7px 0;
}

.toggle-menu-item:hover {
	background-color: #dedede;
}

.arrow-down {
	transform: rotate(180deg);
}
