.user-menu {
	display: flex;
	align-items: center;
	cursor: pointer;
	position: relative;
}

.toggle-menu {
	background-color: #fff;
	width: 134px;
	height: 60px;
	border-radius: 5px;
	position: absolute;
	top: 50px;
	right: 4px;
	font-size: 14px;
}

.toggle-menu::before {
	content: '';
	width: 11px;
	height: 11px;
	transform: rotate(45deg);
	position: absolute;
	top: -6px;
	left: 89px;
	background-color: #fff;
}

.toggle-menu-list {
	margin: 7px;
}

.toggle-menu-item {
	margin-bottom: 10px;
}

.toggle-menu-item:hover {
	color: #313131;
}

.arrow-down {
	transform: rotate(180deg);
}

/* .toggle-menu-arrow {
	width: 11px;
	height: 11px;
} */
